:root {
  --bg-100: rgb(27, 27, 27);
  --bg-200: rgb(32, 32, 32);
  --bg-300: rgb(46, 46, 46);
  --bg-400: rgb(49, 49, 49);
  --text-color: white;
  --primary-color-50: rgb(165, 79, 119);
  --primary-color-100: rgb(184, 88, 133);
  --primary-color-200: rgb(194, 98, 143);
  --primary-color-300: rgb(204, 108, 153);
  --primary-color-400: rgb(131, 64, 93);
}
html,
body,
#root,
.App {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-200);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  line-height: 1.6rem;
}
body {
  height: fit-content;
}
